.reserved-list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0 200px;
}

.reserved-list h2 {
  font-size: 30px;
  font-weight: bold;
  color: #525050;
  margin-bottom: 30px;
}

.reserved-mission {
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 3px;
}

.reserved-mission:nth-child(odd) {
  background-color: rgb(231, 227, 227);
}

.reserved-list p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(82, 80, 80);
  margin-bottom: 3px;
}
